tetris/x64/
tetris/ipch/
tetris/Tetris.v12.suo
tetris/Tetris.sdf
tetris/Tetris.opensdf
tetris/Tetris/x64/
tetris/Tetris/GeneratedFiles/

Lotto/x64/
Lotto/ipch/
Lotto/Lotto.v12.suo
Lotto/Lotto.sdf
Lotto/Lotto.opensdf
Lotto/Lotto/x64/
Lotto/Lotto/GeneratedFiles/

study/cplusplus/qtgui/x64/
study/cplusplus/qtgui/ipch/
study/cplusplus/qtgui/qtguistudy.v12.suo
study/cplusplus/qtgui/qtguistudy.sdf
study/cplusplus/qtgui/qtguistudy.opensdf
study/cplusplus/qtgui/moduleinterface/Debug/
study/cplusplus/qtgui/modulemarine/x64/
study/cplusplus/qtgui/modulemarine/GeneratedFiles/
study/cplusplus/qtgui/qtguistudy/x64/
study/cplusplus/qtgui/qtguistudy/GeneratedFiles/

study/cplusplus/deepdepth/x64/
study/cplusplus/deepdepth/ipch/
study/cplusplus/deepdepth/cplusplusstudy.v12.suo
study/cplusplus/deepdepth/cplusplusstudy.sdf
study/cplusplus/deepdepth/cplusplusstudy.opensdf
study/cplusplus/deepdepth/cplusplusstudy/x64/
study/cplusplus/deepdepth/cplusplusstudy/GeneratedFiles/

study/cplusplus/cardgame/x64/
study/cplusplus/cardgame/ipch/
study/cplusplus/cardgame/cardgame.v12.suo
study/cplusplus/cardgame/cardgame.sdf
study/cplusplus/cardgame/cardgame.opensdf
study/cplusplus/cardgame/cardgame/x64/
study/cplusplus/cardgame/cardgame/GeneratedFiles/